<tr>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">
        <a href="https://github.com/{{ full_name }}">{{ full_name }}</a>
    </td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{{ updated_at }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{% if pushed_at.changed %}⚠️{% endif %}{{ pushed_at.value }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{% if default_branch.changed %}⚠️{% endif %}{{ default_branch.value }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{% if archived.changed %}⚠️{% endif %}{{ archived.value }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{% if disabled.changed %}⚠️{% endif %}{{ disabled.value }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{% if tag_name.changed %}⚠️{% endif %}{{ tag_name.value }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{{ tag_publishedAt }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{% if commit_sha.changed %}⚠️{% endif %}{{ commit_sha.value }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{{ commit_at }}</td>
    <td style="white-space: nowrap;border: 1px solid #ccc;padding: 0.5rem 1rem">{{ message }}</td>
</tr>
<tr>
    <td colspan="10">
        <details>
            <summary>{{ Latest Commit Message }}</summary>
            {{ commit_msg }}
        </details>
    </td>
</tr>