<tr>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">
        <a href="https://github.com/{{ full_name }}">{{ full_name }}</a>
    </td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{{ updated_at }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{% if pushed_at.changed %}⚠️{% endif %}{{ pushed_at.value }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{% if default_branch.changed %}⚠️{% endif %}{{ default_branch.value }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{% if archived.changed %}⚠️{% endif %}{{ archived.value }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{% if disabled.changed %}⚠️{% endif %}{{ disabled.value }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{% if tag_name.changed %}⚠️{% endif %}{{ tag_name.value }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{{ tag_publishedAt }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{% if commit_sha.changed %}⚠️{% endif %}{{ commit_sha.value }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{{ commit_at }}</td>
    <td style="white-space: nowrap;padding: 0.2rem 0.5rem">{{ message }}</td>
</tr>
<tr>
    <td colspan="10" style="padding: 0.2rem 0.5rem">
        <details>
            <summary>Latest Commit Message</summary>
            {{ commit_msg }}
        </details>
    </td>
</tr>